.skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
  animation: animateSkeleton 2s infinite;
  animation-timing-function: linear
}

.skeleton.text {
  width: 100%;
  height: 10px;
  margin-bottom: 5px;
}

.skeleton.price {
  width: 100%;
  height: 30px;
}

.skeleton.similar {
  width: 100%;
  height: 30px;
  border-radius: 20%;
}

.skeleton.image {
  width: 200px;
  height: 200px;
}
.skeleton.introImage {
  width: 350px;
  height: 450px;
}

.skeleton.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@keyframes animateSkeleton {
  from {
    background: linear-gradient(to left top, #ddd, lightgray);
  }
  50% {
    background: linear-gradient(to left top, #ddd, lightgray);
  }
  to {
    background: linear-gradient(to right bottom, #ddd, lightgray);
  }
}
