/* .image-container {
  animation: load-animate 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes load-animate {
  0% {
    filter: blur(12px) grayscale(100%);
    -webkit-filter: blur(12px) grayscale(100%);
    scale: 1.05;
  }
  50% {
    filter: blur(6px) grayscale(0);
    -webkit-filter: blur(6px) grayscale(0);
  }
  100% {
    filter: blur(0) grayscale(0);
    -webkit-filter: blur(0) grayscale(0);
    scale: 1;
  }
} */
 